[Desktop Entry]
Encoding=UTF-8
Name=Azure Storage Explorer
Exec=AzureStorageExplorer
Icon=/opt/azure-storage/resources/app/out/app/icon.png
Terminal=false
Type=Application
Categories=Development;
